<main class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
        @for (project of projects; let idx = $index; track idx) {
            <app-project-card projectLink="/projects/{{project.slug}}" [imageUrl]="project.image">
                <ng-container title>{{project.title}}</ng-container>
                <ng-container>
                    <p>{{project.description}}</p>
                </ng-container>
            </app-project-card>
        }
    </div>
</main>