<main>
    <section id="hero" class="bg-blue-500 text-white text-center py-20">
        <div class="container mx-auto">
            <h1 class="text-5xl font-bold">Hi, I'm Federico Ghedini</h1>
            <p class="mt-4 text-lg">A passionate Aerospace Engineer specializing in modern aircraft design and space
                exploration.</p>
            <a href="#contact" class="btn btn-secondary  mt-8 inline-block">Get in Touch</a>
        </div>
    </section>

    <section id="about" class="container mx-auto py-20 px-6">
        <div class="card md:card-side">
            <figure>
                <img src="assets/about3.webp" alt="Movie" />
            </figure>
            <div class="card-body">
                <h2 class="text-3xl font-bold text-gray-800">About Me</h2>
                <p class="mt-4 text-gray-600">I am an Aerospace Engineer with over X years of experience in designing,
                    analyzing, and testing aerospace systems and components. I am passionate about innovation and
                    technology, constantly seeking new challenges and opportunities to grow in my field.</p>
                <p class="mt-4 text-gray-600">I have a strong background in aircraft design, aerodynamics, propulsion,
                    and materials science. I have worked on several projects involving the design and optimization of
                    aircraft structures, systems, and components.</p>
                <p class="mt-4 text-gray-600">I am proficient in several engineering software tools, including CAD, FEA,
                    CFD, and MATLAB. I am also familiar with industry standards and regulations, such as FAA and EASA
                    requirements.</p>
            </div>
        </div>
    </section>



    <section id="projects" class="bg-gray-200 py-20">
        <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold text-gray-800 text-center">Projects</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
                <!-- Project 1 -->
                @for (item of [1,2,3]; let idx = $index; track idx) {
                    <div routerLink="/projects/introduction" class="bg-white card shadow-md hover:scale-95 transition-all duration-300 group">
                        <figure>
                            <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                                alt="Project 1" class="rotate-2 scale-105 group-hover:rotate-0 group-hover:scale-100 transition-all duration-300">
                        </figure>
                        <div class="card-body">
                            <h3 class="text-2xl font-bold text-gray-800">Project Title {{idx + 1}}</h3>
                            <p class="mt-4 text-gray-600">Brief description of the project and your role in it. Highlight
                                the technologies and methodologies used.</p>
                        </div>
                    </div>
                }
            </div>

            <!-- More Project Button -->
            <div class="mt-8">
                <a routerLink="/projects" class="btn btn-primary block max-w-fit mx-auto">View More Projects</a>
            </div>
        </div>
    </section>

    <section id="skills" class="container mx-auto py-20 px-6">
        <h2 class="text-3xl font-bold text-gray-800 text-center">Skills</h2>

        <h3 class="text-2xl font-bold text-gray-800">Coding Languages</h3>
        <div class="flex gap-4 mt-2 mb-9">
            <div>
                CAD
            </div>

            <div>
                FEA
                </div>
                <div>
                    CFD
                </div>
        </div>

        <h3 class="text-2xl font-bold text-gray-800">Softwares</h3>
        <div class="flex gap-4 mt-2 mb-9">
            <div>
                CAD
            </div>

            <div>
                FEA
                </div>
                <div>
                    CFD
                </div>
        </div>
    </section>

    <section id="carreer" class="bg-gray-200 py-20">
        <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold text-gray-800 text-center">Carreer</h2>
            <div>
                Liceo Scientifico
                Aerospace Engineering
            </div>
        </div>
    </section>

    <section id="contact" class="container mx-auto px-6 py-20">
        <h2 class="text-3xl font-bold text-gray-800 text-center">Contact</h2>
        <div class="max-w-md mx-auto mt-8 card bg-white">
            <form action="#" method="POST" class=" card-body shadow-md">
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 font-bold mb-2">Name</label>
                    <input type="text" id="name" name="name" class="w-full border-gray-300 rounded px-4 py-2" 
                        required placeholder="Your name or nickname">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
                    <input type="email" id="email" name="email" class="w-full border-gray-300 rounded px-4 py-2"
                        required placeholder="example@yourmail.com">
                </div>
                <div class="mb-4">
                    <label for="message" class="block text-gray-700 font-bold mb-2">Message</label>
                    <textarea id="message" name="message" class="w-full border-gray-300 rounded px-4 py-2" rows="4"
                        required placeholder="Type your message here."></textarea>
                </div>
                <button type="submit" class="w-full btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>


</main>